@import url("./assets/fonts/Poppins/css/poppins.css");
@import url("./assets/fonts/ClashDisplay_Complete/Fonts/WEB/css/clash-display.css");
@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@100..900&display=swap');

:root {
  --first: #f14949;
  --second: #fa8484;
}

.bg-gradient {
  background: var(--first); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--first),
    var(--second)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--first),
    var(--second)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.bg-gradient-b {
  background: var(--first); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    var(--first),
    var(--second)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    var(--first),
    var(--second)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.text-gradient {
  background: var(--first); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    var(--first),
    var(--second)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    var(--first),
    var(--second)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  @apply bg-clip-text text-transparent;
}

.error {
  @apply text-red-500 text-xs ml-2 mt-1;
}
